body {
  background: url("assets/background.png") no-repeat center center fixed;
  font-family: monospace;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 10em;
}

header {
  background: rgb(233, 206, 137);
  background: linear-gradient(
    6deg,
    rgba(233, 206, 137, 0.85) 5%,
    rgba(193, 188, 105, 0.85) 35%,
    rgba(231, 181, 142, 0.85) 65%,
    rgba(129, 166, 184, 0.85) 95%
  );
  color: rgb(37, 37, 37);
  text-align: center;
  padding: 10px;
}

.form-box {
  border: 1px solid #e3e7ea;
  margin-bottom: 24px;
  padding: 25px 50px 40px 50px;
  background-color: #dddddda8;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
}

.button {
  font-family: monospace;
  align-items: center;
  background-color: #e27f6a;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 20px;
  font-weight: 500;
  height: 49px;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}

.button:hover {
  background: rgb(233, 206, 137);
  background: linear-gradient(
    6deg,
    rgba(233, 206, 137, 0.85) 5%,
    rgba(193, 188, 105, 0.85) 35%,
    rgba(231, 181, 142, 0.85) 65%,
    rgba(129, 166, 184, 0.85) 95%
  );
  color: #333;
}

.language-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  margin-top: 8px;
  justify-content: space-between;
  color: #ffffff;
}

.language {
  width: 47%;
  height: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  font-family: monospace;
  color: #333;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 6px;
}

.input {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.output {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 1.5em;
  text-shadow: 2px 1px 3px #ee6352;
}

h2 {
  display: block;
  color: #333;
  font-size: 1.5em;
  margin-block-start: 0em;
  margin-block-end: 0.8em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
